
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.metadata
.packages
.project
.settings/
.vscode/
build/
dist/
node_modules/
Thumbs.db

# Xcode
.xcworkspace/
ios/build/
ios/Pods/
ios/Runner.xcworkspace/
macos/build/
macos/Pods/
macos/Runner.xcworkspace/

# Android
.gradle/
android/app/build/
android/build/
android/.gradle/
android/key.properties
android/*.keystore

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.dart_tool/
lib/generated_plugin_registrant.dart

# Web
.dart_tool/build/
web/
